<div class="modal fade" role="dialog" id="appointmentInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="appointmentform" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title">Add/Edit appointment</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="title">Title</label>
                        <input type="text" maxlength="100" class="form-control" id="title" />
                    </div>
                    <div class="mb-3">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="title">select pacient</label>
                        <select id="PacientId" asp-items="@(new SelectList(ViewBag.PacientList,"Id", "Name"))" class="form-control"></select>
                    </div>
                    <div class="mb-3">
                        <label for="appointmentdate">Start date time</label>
                        <input class="form-control" id="appointmentdate"/>
                    </div>
                    <div class="mb-3">
                        <label for="title">Duration</label>
                        <select id="Duration" asp-items="ViewBag.Duration" class="form-control"></select>
                    </div>
                    <input type="hidden" id="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="onCloseModal()">Close</button> &nbsp;
                    <button type="button" id="btnSubmit" class="btn btn-success" onclick="onSubmitForm()">Submit</button> &nbsp;
                    <button type="button" class="btn btn-danger" onclick="onCloseModal()">Close</button> &nbsp;


                </div>
            </form>
        </div>

    </div>

</div>